<%

cond = {:site_id => Core.site.id}
layouts = Cms::Layout.find(:all, :conditions => cond, :order => :name)
layouts = layouts.collect{|i| ["#{i.name} : #{i.title}", i.id]}

%><% if defined?(container) && container != :tr %>
<table class="show">
<% end %>
  <tr>
    <th>レイアウト</th>
    <td><%= f.select(:layout_id, layouts, :include_blank => true) %></td>
  </tr>
<% if defined?(container) && container != :tr %>
</table>
<% end %>
