<%

cond   = {:site_id => Core.site.id, :level_no => 1, :state => 'public'}
root   = Cms::Concept.find(:all, :conditions => cond, :order => :sort_no)

%>  <tr>
    <th>コンセプト</th>
    <td><%= f.select_with_tree :concept_id, root %></td>
  </tr>
