<%

docs = Article::Doc.new.public.find(:all, :conditions => {:content_id => @content.id},
  :order => "published_at DESC").collect{|c| [h(c.title), c.id] }

%><table class="show">
  <tr>
    <th>関連記事</th>
    <td>
      <table class="noDesign">
        <tr><td><%= f.array_select "in_rel_doc_ids[0]", docs, :include_blank => true %></td></tr>
        <tr><td><%= f.array_select "in_rel_doc_ids[1]", docs, :include_blank => true %></td></tr>
        <tr><td><%= f.array_select "in_rel_doc_ids[2]", docs, :include_blank => true %></td></tr>
      </table>
    </td>
  </tr>
</table>
